$max-width: 1200px;
$sidebar-width: 360px;
$background-color: #efefef;
/*$accent-color: #42A5EE;*/
$accent-color: #FFFFFF;

@mixin greenTick() {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  /*background: url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 62 46\' xmlns=\'http://www.w3.org/2000/svg\'><title>Shape</title><path d=\'M60.467 1.54c-1.562-1.562-4.096-1.562-5.658 0L20.867 35.48 7.194 21.806c-1.562-1.562-4.095-1.562-5.657 0-1.562 1.562-1.562 4.095 0 5.657L18.04 43.966c.78.78 1.805 1.172 2.83 1.172 1.023 0 2.046-.39 2.828-1.172l36.77-36.77c1.56-1.562 1.56-4.094 0-5.656z\' fill=\'%2314C145\' fill-rule=\'evenodd\'/></svg>")no-repeat center center / 70%;*/
}

/*:root {
  font-size: 16px;
}*/

* {
  box-sizing: border-box;
  /*font-family: Arial;*/
}

html, body {
  padding: 0;
  margin: 0;
  /*width: 100%;*/
  height: 100%;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  /*background: $background-color;*/
  background-image: url("../../resources/graphics/background.png");
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*input[type="checkbox"] {
  display: inline-block;
  float: left;
  width: 24px;
  height: 24px;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(black, 0.2);
  text-align: center;
  margin: 8px 8px 0 0;
  border-radius: 3px;
  line-height: 42px;
  cursor: pointer;
  
  &:checked:before {
    @include greenTick();
  }
}*/


header {
  padding: 0 1em;
  max-width: $max-width;
  margin: auto;
  
  a {
    color: inherit;
    text-decoration: none;
  }
  span {
    color: $accent-color;
  }
  
  @media (max-height: 790px) and (max-width: 730px) { 
    display: none;
  }
}
.app {
  padding: 1em;
  max-width: $max-width;
  width: 100%;
	min-height: 900px;
  margin: auto;
  position: relative;
  
  .search-box-header {
  
  	background-color: #1C688E;
  	padding: 25px;
  
	  .search-box {
	    font-size: 1.12em;
	    /*font-size: 18px;*/
	    padding: 1em 0.75em;
	    width: 100%;
	    appearance: none;
	    border: none;
	    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	    border-radius: 4px;
	  }
	}
	
	.header {
  	overflow: hidden;
  	padding: 0px;
  	.header-results {
  		float: left;
  		border-bottom: none;
  		
  		.duration {
  			font-size: 0.8em;
  		}
  	}
  	.header-filler {
  		border-bottom: 1px solid #efefef;
  		overflow: hidden;
  		padding-top: 1.6em;
  	}
  }
  
  /*.categories,*/
  .facet-list,
  .results{
    float: left;
    /*border-radius: 4px;*/
    /*margin-right: 16px;*/
    margin-left: 0;
    /*margin-top: 1em;*/
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);*/
    background: #fff;
    
    .facetHeader {
    	display: block;
  		font-weight: bold;
  		padding-bottom: 10px;
  	}
  }
  
  .facets {
  	width: 100%;
  	float: left;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  	
  	&.noResults {
  		background: #FFFFFF;
  	}
    
    .facet.facet_food_type,
    .facet.facet_selected_payment_options{
      label{
        height: 40px;
        overflow: hidden;
        display: block;
        width: 100%;
        &:after{
          content: "";
          display: table;
          clear: both;
        }
      }
      label, span{
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
      }
      .facetValue,
      .facetCount {
        float: left;
        line-height: 40px;
        height: 40px;
      }
      .facetValue {
        padding: 0 0 0 20px;
        width: 78%;
      }
      .facetCount {
        padding: 0 30px 0 0;
        text-align: right;
        width: 20%;
      }
    }
	  .facet-list {
	  	clear: both;
      width: 100%;
	    padding: 1em  26px;
	    li {
	      display: inline-block;
	      width: 100%;
	      white-space: nowrap; 
	      overflow: hidden; 
	      text-overflow: ellipsis; 
        cursor: pointer;
        border-radius: 3px;
        &:after{
          content: "";
          display: table;
          clear: both;
        }
	      &:not(:last-child) {
	        border-bottom: 1px solid rgba(black, 0.1);
	      }
	      
	      &:hover {
	        color: #2897C5;
	      }
	      
	      
	      &.active {
	      	color: #FFFFFF;
	        background-color: #2897C5;
	        background-clip: content-box;
          span{
            color: #fff;
          }
	      }
	      
	      .facetCount {
	      	float: right;
	      	color: #9A9A9A;
	      	
	      	.active {
	      		color: #FFFFFF;
	      	}
	      }
	      
	      /*.badge {
	        background: $accent-color;
	        color: #fff;
	        padding: 0.25em 0.5em;
	        border-radius: 14px;
	        font-size: 12px;
	        max-height: 22px;
	        text-align: right;
	      }*/
	    }
	    
	    @media (max-width: 900px) {
	      width: 100%;
	      max-width: 100%;
	    }
	  }
    .facet_stars_count .facet-list li {
      background-color: transparent;
      .stars{
        cursor: pointer;
      }
      .facetCount{
        height: 35px;
        line-height: 35px;
        padding-right: 36px;
        cursor: pointer;
      }
      &:hover .facetCount {
        color: #2897C5;
      }
      &.active {
        .facetCount {
          color: #2897C5;
          font-weight: bold;
        }
      }
    }
	}
  
  .results, .page {
    position: relative;
    margin-right: 0;
    width: 100%;
    overflow: auto;
    padding: 1em;
  
    @media (max-width: 900px) {
      max-width: 100%;
    }
	}
	
	.results {
    
    div {
      padding: 0.75em 0.75em;
      /*border-bottom: 1px solid #efefef;*/
      /*padding-left: 2.5em;*/
      position: relative;
    }
  
    em {
      background: #FDBD57;
      padding: 0.15em;
    }
    
    .result {
    	display: flex;
     	
     .thumbnail {
     
     		.thumbnail-img{
     			border-radius: 4px;
     			width: 80px;
     			height: 80px;
     		}
     		/*float: left;
  			clear: none;*/
     
	     	/*display: block;
	    	float: left;
	    	display: inline-block;
	      height: 200px;
	      line-height: 200px;*/
	      /*width: 100%;*/
		    /*width:150px;
		    height:150px;
		    border-radius:10%;
		    overflow:hidden;*/
    	}
    
    	.metas {
    		color: #707070;
    		line-height: normal;
    		padding-left: 10px;
    		
    		.stars_reviews, .desc {
					padding-top: 5px;
    		}
    		
    		.meta {
    			display: block;
    			
    			.name-link {
    				color: black;
    				font-size: 1.12em;
    				/*font-size: 18px;*/
    				font-weight: bold;
    			}
    			
    			.stars_count, .reviews {
    				vertical-align: -webkit-baseline-middle;
    			}
    		}
    	
    		/*float: left;
  			clear: none;*/
    	
	    	/*display: block;
	    	padding: 0.75em 0.75em;
	      border-bottom: 1px solid #efefef;
	      padding-left: 2.5em;
	      position: relative;*/
    	}
		}
  }
  
  .pager {
  	/*position: absolute;*/
  	vertical-align: top;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    button {
      /*background: $accent-color;*/
      background: #FFFFFF;
      /*color: #fff;*/
      color: #000000;
      appearance: none;
      -webkit-appearance: none;
      /*border: 0;*/
      border: 1px solid #E6E6E6;
      padding: 0.5em 0.25em;
      cursor: pointer;
      border-radius: 4px;
      /*font-size: 18px;*/
      font-size: 1.12em;
      
      &:hover {
        background: mix($accent-color, #000, 85%);
      }
    }
    
    .showMore {
			max-width: 140px;
			margin-left: auto;
			margin-right: auto;
    }
      
    span {
      line-height: 32px;
      font-weight: bold;
    }
  }
}

span.stars {
  /*font-size: 13px;*/
  display: inline-block;
  /*margin-left: 20px;*/
  vertical-align: top;
  background: url('../../resources/graphics/stars-icons.png') 0 0 repeat-x;
  width: 185px;
  height: 35px;
  
}
span.stars span {
  background: url('../../resources/graphics/stars-icons.png') 0 -36px repeat-x;
  display: inline-block;
  height: 35px;
}

.flex-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-wrapper {
  display: flex;
  flex: 1;
}

.flex-column.nav{
  flex: 0 0 $sidebar-width;
  border-right: 2px solid #e6e6e6;
  background: #FFFFFF;
}
.flex-column.content{
  flex: 1;
  background-color: #FFFFFF;
  position: relative;
  min-height: 400px;
}